a {
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif; }

p {
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif; }

input {
  font-family: 'Arial', sans-serif; }

label {
  font-family: 'Arial', sans-serif; }

h3 {
  font-family: 'Arial', sans-serif; }

.small-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 15rem;
  height: 20rem;
  border: 1px solid #A5A5A5; }
  .small-profile__cover {
    height: 4rem;
    width: 15.1rem;
    background-image: url(../images/66g.svg);
    background-size: cover;
    background-repeat: no-repeat; }
  .small-profile__pimage {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 1rem;
    background-image: url(../images/0.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border: .1rem solid #F7FBFC;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50%; }
  .small-profile__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    width: 15rem;
    /*   border:.1rem solid black; */ }
    .small-profile__content__nametag {
      font-weight: bold; }
    .small-profile__content__details {
      font-size: 0.7rem;
      color: #A5A5A5;
      width: 13rem;
      text-align: center; }
  .small-profile__managecon {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 15rem;
    height: 5rem;
    border: 1px solid #A5A5A5; }
    .small-profile__managecon__leftside {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      padding-right: 3.5rem; }
      .small-profile__managecon__leftside__num1 {
        color: #A5A5A5;
        font-size: 0.8rem; }
        .small-profile__managecon__leftside__num1:hover {
          text-decoration: underline;
          color: #468CB4; }
      .small-profile__managecon__leftside__num2 {
        color: #A5A5A5;
        font-size: 0.8rem;
        padding-top: 0.5rem; }
        .small-profile__managecon__leftside__num2:hover {
          text-decoration: underline;
          color: #468CB4; }
      .small-profile__managecon__leftside__num3 {
        font-size: 0.8rem;
        font-weight: 500; }
        .small-profile__managecon__leftside__num3:hover {
          text-decoration: underline;
          color: #468CB4; }
    .small-profile__managecon__rightside {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      padding-bottom: 1rem; }
      .small-profile__managecon__rightside__num4 {
        padding-left: 0.8rem;
        font-size: 0.8rem;
        color: #468CB4; }
      .small-profile__managecon__rightside__num5 {
        font-size: 0.8rem;
        padding-top: 0.5rem;
        color: #468CB4; }
  .small-profile__premium {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    line-height: 0.2rem;
    height: 5rem;
    position: relative;
    cursor: pointer; }
    .small-profile__premium__ptext {
      color: #A5A5A5;
      font-size: 0.8rem; }
    .small-profile__premium__iconcolor {
      color: rgba(255, 217, 0, 0.795);
      position: absolute;
      top: 2.5rem;
      right: 11.6rem; }
    .small-profile__premium__linkpremium {
      font-size: 0.8rem;
      padding-left: 1rem; }
      .small-profile__premium__linkpremium:hover {
        cursor: pointer;
        color: #468CB4; }

a {
  text-decoration: none;
  color: #191919; }

.registe {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 27rem;
  padding: 2rem;
  background-color: #EEEEEE; }
.registe__txtfname {
    font-size: 16px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-style: none;
    border-right-style: none;
    border-top-style: none;
    width: 398px;
    border-left-style: none;
    height: 32px;
}
.registe__txtlname {
    font-size: 16px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-style: none;
    border-right-style: none;
    border-top-style: none;
    border-left-style: none;
    width: 398px;
    height: 32px;
}
.registe__email {
    font-size: 16px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-style: none;
    border-right-style: none;
    border-top-style: none;
    border-left-style: none;
    width: 398px;
    height: 32px;
}
.registe__password {
    font-size: 16px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-style: none;
    border-right-style: none;
    border-top-style: none;
    border-left-style: none;
    width: 398px;
    height: 32px;
}
  .registe__lbl {
    color: #66696A;
    padding-top: 0.5rem;
    font-size: 13px;
    text-transform: capitalize; }
.registe__agree {
    position: absolute;
    width: 340px;
    left: 500px;
    top: 611px;
    background-color: #287bbc;
    height: 32px;
    color: #FFFFFF;
    font-size: 16px;
    border-color: #246AA5;
    border-bottom-style: none;
    border-right-style: none;
    border-top-style: none;
    border-left-style: none;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-transform: capitalize;
}
    .registe__agree:hover {
      background-color: #246AA5;
      cursor: pointer; }
  .registe__parg {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 13px;
    color: #66696A; }
    .registe__parg__links4 {
      cursor: pointer; }
      .registe__parg__links4:hover {
        text-decoration: underline;
        color: #0077BA; }
    .registe__parg__splinks {
      text-align: center; }
      .registe__parg__splinks__links1 {
        cursor: pointer;
        text-align: center; }
        .registe__parg__splinks__links1:hover {
          color: #0077BA; }
      .registe__parg__splinks__links2 {
        cursor: pointer;
        text-align: center; }
        .registe__parg__splinks__links2:hover {
          color: #0077BA; }
      .registe__parg__splinks__links3 {
        cursor: pointer;
        text-align: center; }
        .registe__parg__splinks__links3:hover {
          color: #0077BA; }

.registe-header {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; }
  .registe-header__frow {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    color: white; }
    .registe-header__frow__linkedin {
      font-size: 3rem;
      text-transform: capitalize; }
    .registe-header__frow__ilinkedin {
      margin-top: 46px;
      margin-bottom: 0;
      font-size: 3.5rem; }
  .registe-header__pargheader {
    color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-transform: capitalize;
    margin: -1rem; }

.network-block {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  flex-direction: column;
  border: 1px solid #D9D9D9;
  width: 10.7rem;
  height: 20rem; }
  .network-block:hover {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2); }
  .network-block__imgprofile {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    flex-direction: column;
    position: relative;
    margin-top: -5.2rem; }
    .network-block__imgprofile__cover {
      background-image: url("../images/66g.svg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 10.66rem;
      height: 4.2rem; }
    .network-block__imgprofile__pimage {
      position: absolute;
      background-image: url("../images/0.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
      top: 1rem;
      left: 2rem;
      width: 6rem;
      height: 6rem; }
    .network-block__imgprofile__content {
      display: flex;
      justify-content: center;
      justify-items: center;
      align-content: center;
      flex-direction: column; }
      .network-block__imgprofile__content__nametag {
        font-size: 16px;
        margin-top: 4rem;
        text-align: center; }
        .network-block__imgprofile__content__nametag:hover {
          text-decoration: underline; }
      .network-block__imgprofile__content__details {
        font-size: 12px;
        color: #C2C2C2;
        text-align: center; }
  .network-block__imgnetwork {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    flex-direction: row;
    position: relative; }
    .network-block__imgnetwork__img1 {
      position: absolute;
      top: 0rem;
      left: 0rem;
      background-image: url("../images/3.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 2.5rem;
      height: 2.5rem;
      border: .1rem solid #F7FBFC;
      border-radius: 50%; }
    .network-block__imgnetwork__img2 {
      position: absolute;
      top: 0rem;
      left: 1.5rem;
      background-image: url("../images/2.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 2.5rem;
      height: 2.5rem;
      border: .1rem solid #F7FBFC;
      border-radius: 50%; }
    .network-block__imgnetwork__img3 {
      position: absolute;
      top: 0rem;
      left: 3rem;
      background-image: url("../images/1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 2.5rem;
      height: 2.5rem;
      border: .1rem solid #F7FBFC;
      border-radius: 50%; }
    .network-block__imgnetwork__hlink {
      margin-left: 6rem;
      font-size: 13px;
      color: #C2C2C2;
      margin-top: 0.5rem; }
      .network-block__imgnetwork__hlink:hover {
        text-decoration: underline;
        cursor: pointer; }
  .network-block__btncon {
    cursor: pointer;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-style: none;
    border-right-style: none;
    border-top-style: none;
    border-left-style: none;
    text-transform: capitalize;
    color: #3180AC;
    background-color: #FFFFFF;
    border: 1px solid #3180AC;
    width: 142px;
    line-height: 1.8rem;
    font-size: 16px;
    position: absolute;
    margin-top: 7.5rem;
    margin-left: 1rem; }
    .network-block__btncon:hover {
      background-color: #E5F5FC;
      border: 3px solid #3180AC; }

.regestration-layout {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-image: url("../images/linkedin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1260px;
  height: 720px;
  margin-left: 2.5rem;
  position: relative; }
  .regestration-layout .registe-header {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 37rem; }
  .regestration-layout .registe {
    position: absolute;
    top: 12rem;
    left: 31%;
    display: flex;
    justify-content: center;
    align-content: center; }
  .regestration-layout__registration-footer {
    display: flex;
    justify-content: center;
    align-content: center; }
    .regestration-layout__registration-footer__rfooter {
      display: flex;
      justify-content: center;
      align-content: center;
      color: #BAC7CF;
      font-size: 12px; }
